<% @categories.each do |category| %>
  <li class="list-group-item">
    <%= category.name %>
    <ul class="list-group">
    <% category.subcategories.each do |subcategory| %>
      <li class="list-group-item"><%= subcategory.name %></li>
    <% end %>
    </ul>
  </li>
<% end %>